body {
  background: #fff;
}

h1 {
  color: #222861;
}

.full-page {
  min-height: 100vh;
}

.intro {
  background: #fff;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.intro video {
  max-height: 80vh;
  max-width: 100vw;
}

.secondary {
}
.secondary-wrapper {
  background: #FBFAFA;
}
.title-names {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s;
}
.title-names.active {
  visibility: visible;
  opacity: 1;
}

.help-block {
  height: 2rem;
}

.overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 1s, opacity 1s;
          transition: visibility 1s, opacity 1s;
}

html.overlay-active {
  /* overflow: hidden; */
}

html.overlay-active .overlay {
  visibility: visible;
  opacity: 1;
}

.btn .btn-loader {
  visibility: hidden !important;
}
.btn .btn-done {
  display: none !important;
}
.btn.is-loading .btn-loader {
  visibility: visible !important;
}
.btn.is-done .btn-loader {
  display: none !important;
}
.btn.is-done .btn-done {
  display: inline-block !important;
}
.btn span {
  margin-left: 20px;
  margin-right: 5px;
}



.animate-pulse {
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.7
}
@-webkit-keyframes pulsate {
    0% {transform: scale(1); opacity: 0.7;}
    50% {opacity: 1;}
    100% {transform: scale(1.05); opacity: 0.7;}
}
